
@{
    Layout = null;
}

<!doctype html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="İbrahim Sipahi">
    <meta name="author" content="İbrahim Sipahi">
    <title>@ViewBag.Title</title>

    <link rel="canonical" href="http://www.ibrahimsipahi.com">
    <link rel="shortcut icon" href="~/fonts/com.png" type="image/x-icon" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css.css" rel="stylesheet" />
    <link href="~/Content/blog.css" rel="stylesheet" />

</head>

<body>



    @Html.AntiForgeryToken()

    @Html.Partial("_Header")


    <div class="container">
        @RenderBody()
    </div>

    @*@Html.Partial("_Footer")*@


</body>
</html>
