@{
    ViewBag.Title = "Hakkımda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="shortcut icon" href="~/fonts/com.png" type="image/x-icon" />
</head>

<h2>İbrahim Sipahi</h2>

