
@{
    ViewBag.Title = "İletişim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="shortcut icon" href="~/fonts/com.png" type="image/x-icon" />
</head>

<address>
    İstanbul<br />
</address>

<address>
    <strong>Görüşleriniz için:</strong>
    <a href="mailto:info@ibrahimsipahi.com">Buraya Tıklayın</a><br />
</address>