
@{
    ViewBag.Title = "İletişim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="shortcut icon" href="~/fonts/com.png" type="image/x-icon" />
</head>


<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<link href="~/Content/css.css" rel="stylesheet" />



<div class="container">
    <div class="aboutus-section">

        <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="aboutus">
                    <address>
                        <strong>Mesaj formu eklenecektir. Şimdilik görüşleriniz için lütfen </strong>
                        <a href="mailto:info@ibrahimsipahi.com">Buraya Tıklayın</a><br />
                    </address>
                </div>
            </div>
        </div>
        <div class="p-4">
            <h4 class="font-italic">Hesaplarım</h4>
            <a href="https://www.linkedin.com/in/sipahiib/"><img src="~/fonts/linkedin.png" width="50" height="30" /></a>
            <a href="https://github.com/sipahiib"><img src="~/fonts/github.png" width="30" height="30" /></a>
            <a href="https://twitter.com/sipahisipahiib/"><img src="~/fonts/twitter.png" width="30" height="30" /></a>
            <a href="https://www.instagram.com/sipahiib/"><img src="~/fonts/insta.jpeg" width="50" height="30" /></a>
        </div>
    </div>
    

</div>

